@{
    <form method="post">
    Product Name : <input type="text" name="productName"><br>
    Unit Price   : <input type="number" name="UnitPrice"><br>
    Quantity     : <input type="number" name="Quantity"><br>
    <input type="submit" value="submit"><br><br>
    <p>The Final Amount is @ViewBag.Message</p>
    </form>
}
